%section
  %h2 Conferences
  %p
    Technology is fast and expansive, so we invest in our team in to attending conferences from coast to coast.
    To date we have sent our engineers to...
  %ul
    %li Ancient City Ruby
    %li NG Vegas
    %li WWDC
