%section
  %h2 Our Culture
  %h3 We Don't Just Code Here
  %p We love planning so much that besides our busy work week we pile on a few more things that we adhere to on a regular basis:
  %ul
    %li Tuesday Meetups with Pizza and Beer
    %li Whatever Wednesdays (was "Whiskey" and we open the flavors)
    %li Dungeons and Dragons Thursday night event
    %li Friday Team Breakfast
    %li Beer O'Clock Fridays
    %li Random Field Trips (go to the beach, movies, dinner, bowling, pool)
    %li Birthday Celebrations (with cake and singing)
    %li Random lunches on Cloudspace
    %li Snack Corner (endless buckets of snacks, sweets, sodas, coffees, teas)
    %li Quarterly Challenges (eating, sports, walking)
