%section
  %h2 Meetups
  %p
    We’re excited to announce the launch of University Tech Meetups,
    a series of four monthly meetups serving East Orlando-based
    professionals and students, hosted at Cloudspace’s Orlando HQ.
    We launched the series on Tuesday Sept 23 2014. Each meetup is
    every Tuesday of the month. Each meetup features two 20-minute
    presentations on new programming skills and tools along with time
    to network and enjoy free Pizza and a Beer on Cloudspace.
  %li= link_to 'University Tech Meetups', 'http://www.universitytechmeetups.com/'
