%section
  %h2 The Cloudspace Philosophy
  %h3 Plan, Build, Handoff
  %dl
    %dt Plan
    %dd
      If you have an idea, we'll help you research and define it.
      If you know what you want, we'll help you scope and plan it.
      If you gotta a problem, we'll solve it.
    %dt Build
    %dd
      We work in one-week sprints and maintain launch readiness every week.
      By constantly receiving feedback, we avoid costly rabbit holes.
    %dt Handoff
    %dd
      We deliver clean, well-documented code so that your in-house team can
      spend their time extending, not refactoring. Want more agile in your office?
      We pair and train.
