%h2 How to Apply
%h3 Coding Practical
%p
  Ready to apply? Take our simple coding practical test and hit the
  Apply Now button below to email us the completed code. Also be sure to include your resume,
  github account, or other relevant pointers to your work online. If we like it, we'll invite you
  in for an interview to make sure we're a good fit for each other.
%p
  Languages Accepted:
%ul
  %li Ruby
  %li Python
  %li Objective-C
  %li Java
  %li Javascript
%h4 Parsing an Email
%p
  What do we mean by parse an email? Go to Gmail, open an incoming email,
  and do View Original. You should see a text file of a raw email. The goal
  here is to parse that and extract relevant fields.
%p
  This is actually a very difficult thing and a proper implementation could take months.
  However, it's possible to do the basics, without handling all of the intricacies, in maybe an hour.
%p
  Your goals:
%ul
  %li
    Take in an email and parse it into relevant fields. Figure out what those relevant fields are.
  %li
    Create a good foundation. Try to write extensible/maintainable code.
  %li
    When you're done, list out next steps you'd take in your implementation.
    Eg, 'I'd focus on handling different MIME types in the body', etc.
  %li
    Don't use a library like TMail that does parsing for you, but feel free to use any non-email-specific libraries.
