%section
  %h2 Sales to Project Management
  %p
    As you can see below the entire team of Cloudspace professionals are working for your seamless project.
  %table
    %tr
      %th{scope: 'col'} Phase
      %th{scope: 'col'} Owner
      %th{scope: 'col'} What is Done
    %tr
      %td Pre Sales
      %td Sales
      %td
        %ol
          %li Ping PM team for visibility and as needed collaboration
          %li Start Opportunity Record
    %tr
      %td PM Admin
      %td Project Manager
      %td
        %ol
          %li Gather contact info and documentation
          %li Determine schedules and talent management for project
          %li Review and share documentation as applicable
          %li Create communication channels
    %tr
      %td Sales
      %td Sales
      %td
        %ol
          %li Ping PM team for visibility and as needed
          %li Update opportunity record
    %tr
      %td PM Admin
      %td Project Manager
      %td
        %ol
          %li Add appropriate members to communication channels
          %li Add appropriate members to Google Docs
          %li Create Pivotal Tracker Project for team
          %li Setup GitHub for team
          %li Create TravisCI for team
          %li Licensing
    %tr
      %td Signed Contract
      %td Sales
      %td
        %ol
          %li Transfer into Project mode
    %tr
      %td PM Scheduling
      %td Project Manager
      %td
        %ol
          %li Work with Sales, Exec and Client for scheduling
          %li Update schedule record for project duration
          %li Update Google Docs folder
    %tr
      %td
        %ul
          %li Inception
          %li Kickoff
          %li Planning Meeting
          %li Standups
          %li Demos
          %li Retropective
      %td Project Manager
      %td Coordinate Cloudspace and Client Stakeholders for Agenda
