%section
  %h2 Training
  %p
    Since teaching is the best way to learn, we have an ongoing training program.
    We host weekly training sessions, as well as meals before and after work for
    the team to share new technology with each other and refine their skills.
