%section
  %h2 Working for Cloudspace
  %h3 Why Working at Cloudspace Rock-ets
  %ul
    %li A quad-core MacBook Pro
    %li Cubicle free environment! Great for Chatty Cathies
    %li Work Stations that are on the go and ergonomically friendly
    %li Private offices! Great for Silent Sallies
    %li 18 vacation / sick days a year (earned on a month to month basis the first year)
    %li Programs to earn additional time off
    %li 9 Paid Holidays
    %li Health, Vision, and Dental Coverage Plans
    %li 401K Plan
    %li We work on cool world-class projects
    %li Training and Development are at the top of the list
    %li Last and not least ... the Cloudspace Team
    %li Referral Bonus Program
  %h3 T-Shaped Teammates
  %p
    We look for T shaped employees. This means the ability to perform depth and breadth.
    For engineers, this means not only possessing deep, technical skills, but also having
    broader attributes such as empathy, communication skills, team building,
    and the ability to collaborate.
